.of-cover
	object-fit: cover
	width: 100%
	height: 100%

.of-contain
	object-fit: contain
	width: 100%
	height: 100%

.of-cover-absolute, .of-contain-absolute
	position: absolute !important
	top: 0
	left: 0
	width: 100%
	height: 100%

.of-cover-absolute
	object-fit: cover

.of-contain-absolute
	object-fit: contain
